<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Cafeicultura</title>
    <script>document.documentElement.className += ' js'</script>
  </head>
  <body>
    <nav class="menu" data-tab="suave">
      <ul>
        <li><a href="#cafe">Cafés</a></li>
        <li><a href="#faq">Faq</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="#delivery">Delivery</a></li>
      </ul>
    </nav>

    <section class="grid-section cafes " data-anime="scroll" id="cafes">
      <h1 class="title">Café e cultura</h1>

      <ul class="cafe-lista" data-tab="menu">
        <li>
          <img src="../img/pexels-content-pixie-1405717-2836945.jpg" alt="" />
        </li>
        <li>
          <img src="../img/pexels-enginakyurt-2299028.jpg" alt="" />
        </li>
        <li>
          <img src="../img/pexels-enginakyurt-2347380.jpg" alt="" />
        </li>
        <li>
          <img src="../img/pexels-fotios-photos-1833769.jpg" alt="" />
        </li>
        <li>
          <img src="../img/pexels-percivalianmuico-2835547.jpg" alt="" />
        </li>
        <li>
          <img src="../img/pexels-quark-studio-1159039-2506993.jpg" alt="" />
        </li>
      </ul>

      <div class="cafe-descricao" data-anime="scroll" id="cafe" data-tab="content">
          <section data-anime="show-right">
            <h2>Café puro</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
              ut, facere molestiae nobis est illo totam nulla iste eligendi,
              excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
              nobis deleniti repudiandae.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              consequuntur ipsa quas exercitationem, similique tempora error saepe
              ad numquam obcaecati impedit nostrum velit asperiores officiis
              mollitia eligendi sapiente sed neque.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
              officia aut, sunt provident ipsa quasi cumque ut error quod quis
              voluptates nobis quam dignissimos unde possimus autem quibusdam
              consequuntur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
              cumque repellendus mollitia pariatur cupiditate sit nam
              exercitationem quam accusamus provident, cum iusto repellat minus.
              Sapiente illum quos blanditiis nesciunt.
            </p>
        </section>
        <section data-anime="show-right">
          <h2>Café com leite</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
            ut, facere molestiae nobis est illo totam nulla iste eligendi,
            excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
            nobis deleniti repudiandae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            consequuntur ipsa quas exercitationem, similique tempora error saepe
            ad numquam obcaecati impedit nostrum velit asperiores officiis
            mollitia eligendi sapiente sed neque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
            officia aut, sunt provident ipsa quasi cumque ut error quod quis
            voluptates nobis quam dignissimos unde possimus autem quibusdam
            consequuntur.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
            cumque repellendus mollitia pariatur cupiditate sit nam
            exercitationem quam accusamus provident, cum iusto repellat minus.
            Sapiente illum quos blanditiis nesciunt.
          </p>
        </section>
          <section data-anime="show-down">
            <h2>Café gelado</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
              ut, facere molestiae nobis est illo totam nulla iste eligendi,
              excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
              nobis deleniti repudiandae.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              consequuntur ipsa quas exercitationem, similique tempora error saepe
              ad numquam obcaecati impedit nostrum velit asperiores officiis
              mollitia eligendi sapiente sed neque.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
              officia aut, sunt provident ipsa quasi cumque ut error quod quis
              voluptates nobis quam dignissimos unde possimus autem quibusdam
              consequuntur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
              cumque repellendus mollitia pariatur cupiditate sit nam
              exercitationem quam accusamus provident, cum iusto repellat minus.
              Sapiente illum quos blanditiis nesciunt.
            </p>
        </section>
        <section data-anime="show-down">
          <h2>Café com ortelã</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
            ut, facere molestiae nobis est illo totam nulla iste eligendi,
            excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
            nobis deleniti repudiandae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            consequuntur ipsa quas exercitationem, similique tempora error saepe
            ad numquam obcaecati impedit nostrum velit asperiores officiis
            mollitia eligendi sapiente sed neque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
            officia aut, sunt provident ipsa quasi cumque ut error quod quis
            voluptates nobis quam dignissimos unde possimus autem quibusdam
            consequuntur.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
            cumque repellendus mollitia pariatur cupiditate sit nam
            exercitationem quam accusamus provident, cum iusto repellat minus.
            Sapiente illum quos blanditiis nesciunt.
          </p>
        </section>
          <section data-anime="show-right">
            <h2>Café de marechal</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
              ut, facere molestiae nobis est illo totam nulla iste eligendi,
              excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
              nobis deleniti repudiandae.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              consequuntur ipsa quas exercitationem, similique tempora error saepe
              ad numquam obcaecati impedit nostrum velit asperiores officiis
              mollitia eligendi sapiente sed neque.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
              officia aut, sunt provident ipsa quasi cumque ut error quod quis
              voluptates nobis quam dignissimos unde possimus autem quibusdam
              consequuntur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
              cumque repellendus mollitia pariatur cupiditate sit nam
              exercitationem quam accusamus provident, cum iusto repellat minus.
              Sapiente illum quos blanditiis nesciunt.
            </p>
        </section>
        <section data-anime="show-right">
          <h2>Café com frutas</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
            ut, facere molestiae nobis est illo totam nulla iste eligendi,
            excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
            nobis deleniti repudiandae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            consequuntur ipsa quas exercitationem, similique tempora error saepe
            ad numquam obcaecati impedit nostrum velit asperiores officiis
            mollitia eligendi sapiente sed neque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
            officia aut, sunt provident ipsa quasi cumque ut error quod quis
            voluptates nobis quam dignissimos unde possimus autem quibusdam
            consequuntur.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
            cumque repellendus mollitia pariatur cupiditate sit nam
            exercitationem quam accusamus provident, cum iusto repellat minus.
            Sapiente illum quos blanditiis nesciunt.
          </p>
          <section data-anime="show-down">
            <h2>Café com pão</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
              ut, facere molestiae nobis est illo totam nulla iste eligendi,
              excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
              nobis deleniti repudiandae.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              consequuntur ipsa quas exercitationem, similique tempora error saepe
              ad numquam obcaecati impedit nostrum velit asperiores officiis
              mollitia eligendi sapiente sed neque.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
              officia aut, sunt provident ipsa quasi cumque ut error quod quis
              voluptates nobis quam dignissimos unde possimus autem quibusdam
              consequuntur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
              cumque repellendus mollitia pariatur cupiditate sit nam
              exercitationem quam accusamus provident, cum iusto repellat minus.
              Sapiente illum quos blanditiis nesciunt.
            </p>
        </section>
        <section data-anime="show-down">
          <h2>Café com açucar</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
            ut, facere molestiae nobis est illo totam nulla iste eligendi,
            excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
            nobis deleniti repudiandae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            consequuntur ipsa quas exercitationem, similique tempora error saepe
            ad numquam obcaecati impedit nostrum velit asperiores officiis
            mollitia eligendi sapiente sed neque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
            officia aut, sunt provident ipsa quasi cumque ut error quod quis
            voluptates nobis quam dignissimos unde possimus autem quibusdam
            consequuntur.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
            cumque repellendus mollitia pariatur cupiditate sit nam
            exercitationem quam accusamus provident, cum iusto repellat minus.
            Sapiente illum quos blanditiis nesciunt.
          </p>
          <section data-anime="show-right">
            <h2>Café com chocolate</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
              ut, facere molestiae nobis est illo totam nulla iste eligendi,
              excepturi iusto sequi. Delectus natus quibusdam labore nesciunt,
              nobis deleniti repudiandae.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              consequuntur ipsa quas exercitationem, similique tempora error saepe
              ad numquam obcaecati impedit nostrum velit asperiores officiis
              mollitia eligendi sapiente sed neque.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis odit
              officia aut, sunt provident ipsa quasi cumque ut error quod quis
              voluptates nobis quam dignissimos unde possimus autem quibusdam
              consequuntur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae
              cumque repellendus mollitia pariatur cupiditate sit nam
              exercitationem quam accusamus provident, cum iusto repellat minus.
              Sapiente illum quos blanditiis nesciunt.
            </p>
        </section>
      </div>
   

    <section class="grid-section faq" data-anime="scroll" id="faq">
      <h1 class="title">FAQ</h1>

      <dl class="faq-lista" data-anime="accordion" >
        <dt>Qual tipo de café</dt>
        <dd>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas
          dicta harum quos inventore placeat nihil error maxime, blanditiis
          assumenda alias quaerat adipisci et nulla, obcaecati, eligendi ratione
          similique quo.
        </dd>
     


        <dt>Qual tipo de café</dt>
        <dd>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas
          dicta harum quos inventore placeat nihil error maxime, blanditiis
          assumenda alias quaerat adipisci et nulla, obcaecati, eligendi ratione
          similique quo.
        </dd>
   

 
        <dt>Qual tipo de café</dt>
        <dd>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas
          dicta harum quos inventore placeat nihil error maxime, blanditiis
          assumenda alias quaerat adipisci et nulla, obcaecati, eligendi ratione
          similique quo.
        </dd>
    

     
        <dt>Qual tipo de café</dt>
        <dd>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas
          dicta harum quos inventore placeat nihil error maxime, blanditiis
          assumenda alias quaerat adipisci et nulla, obcaecati, eligendi ratione
          similique quo.
        </dd>
      </dl>
    </section>

    <section class="grid-section contato " data-anime="scroll" id="contato">

      <h1 class="title">Contato</h1>

      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31848.695025694702!2d-38.4794624!3d-3.7912576000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c7458b85fffbc1%3A0x6235bbed04f25cdf!2sWSTC%20%7C%20SOHO!5e0!3m2!1sen!2sbr!4v1726682000982!5m2!1sen!2sbr"
          style="width: 400px; height: 400px"
        >
        </iframe>
      </div>

      <ul class="dados">
        <li>email@gmail.com</li>
        <li>numero: 78323919813</li>
        <li>facebook:</li>
        <li>instagram:</li>
      </ul>
    </section>

    <footer class="copy">
      <h1>@jaoryan</h1>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/animacoes.js"></script>
  </body>
</html>
